@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');/* font-family: "Pacifico", cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');/* font-family: "Playball, cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');/* font-family: "Plus Jakarta Sans", sans-serif; */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

/* page index */

/* début burger */

.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: -250px;
	background-color: #fff;
	padding-top: 60px;
	transition: left 0.5s ease;
	border-right: 1px solid #000;
  }
  
  /* Sidenav menu liens */
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-family:  "Playball", cursive;;
	font-size: 25px;
	color: #000;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #666;
  }
  
  .sidenav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
  }
  
  /* open Btn */
  .sidenav.active {
	left: 0;
  }
  
  /* close Btn */
  .sidenav .close {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
	display: block;
	width: 35px;
	height: 5px;
	background-color: #000;
	margin: 6px 0;
  }

  #closeBtn {
	font-family: "Plus Jakarta Sans", sans-serif;
  }

/*fin burger */

.navDown {
	width: 100%;
	height: 80px;
}

.navDown ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #000000;
	font-family: "Playball", cursive;
	font-size: 30px;
}

.navDown a:hover {
	color: #666;
	transition: all 0.2s ease-in-out;
}

.navUp {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #000000;
}

.icon {
	width: 46px;
	height: 46px;
}

.titre {
	text-align: center;
}


.imageMenu {
	width: 100%;
	height: 390px;
	margin-top: 15px;
}

.imageMenu:hover {
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;
}

.refMenu {
	text-decoration: none;
	color: #000;
	font-family: "Playball", cursive;
	font-size: 35px;
	border: 1px solid #000000;
	padding: 0 40px;
}

.planche {
	background: url(../img/nappe.webp);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 20px;
	text-align: center;
}

.titleMenu {
	font-family: "Playball", cursive;
	font-size: 37px;
	font-weight: 100;
	padding-top: 100px;
	color: #fff;
	text-shadow: 0px 4px 2px #000000;
	
}

.plancheImg {
	width: 212px;
	height: 212px;
	margin-top: 50px;
}

.plancheImg:hover {
	border-radius: 0 50px 0 50px;
	transition: border-radius .33s, opacity .33s;
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;
}

.subTitleMenu {
	color: #fff;
	font-family: "Playball", cursive;
	font-size: 35px;
	font-weight: 100;
	padding: 40px;
	text-shadow: 0px 4px 2px #000000;
}

.paragrafMenu {
	color: #fff;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 20px;
	font-weight: 100;
	line-height: 27px;
	padding: 0 40px 0 40px;
	text-shadow: 0px 4px 2px #000000;
}

.reseaux {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.bulle {
	width: 46px;
	height: 46px;
}

.bulle:hover {
	transform: scale(1.3);
	transition: all 0.25s ease-in-out;
}

.paragraFooter {
	font-family: "Plus Jakarta Sans", sans-serif;
	padding: 10px 0 20px 0;
}

.refFooter {
	text-decoration: none;
	font-family: "Plus Jakarta Sans", sans-serif;
	color: #000000;
	padding: 10px 0;
}

.refFooter:hover {
	color: #666;
	transition: all 0.2s ease-in-out;
}

header h1 {
	font-family: "Pacifico", cursive;
	font-size: 1.563rem;
	padding-top: 25px;
}

header h1:hover {
	color: #666;
	transition: all 0.2s ease-in-out;
}

#welcome {
	width: 100%;
	height: 467px; 
	background: url(../img/cuisine.webp);
	background-repeat: no-repeat;
	background-size: cover;
	
}
#welcome h2 {
	font-family: "Playball", cursive;
	font-size:66px;
	font-weight: 100;
	line-height: 90px;
	color: #fff;
	padding: 80px 0px 0 40px;
	text-shadow: 0px 4px 2px #000000;
}

#menu a:hover {
	color: #666;
	transition: all 0.2s ease-in-out;
}


div h2 {
	text-align: center;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-weight: 700;
	font-size: 21px;
	padding:5px 0 20px 0;
}

#intro {
	text-align: center;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 16px;
	line-height: 21px;
	padding: 0 10px;
	margin-bottom: 15px;
}

#menu {
	text-align: center;
}

#menu img {
	margin-bottom: 15px;
}

footer {
	text-align: center;
}



/* page Recette entrées */

.recetteMenu {
    font-family: "Playball", cursive;
    font-size: 40px;
    font-weight: 100;
    color: #fff;
    text-shadow: 0px 4px 2px #000000;
    padding-top: 370px;
}

.listMenu {
    width: 100%;
    height: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listMenu:hover {
	transform: scale(1.1);
	transition: all 0.25s ease-in-out;
}

.imgList {
    width: 171px;
    height: 171px;
    padding: 0 10px 0 20px;
}

.imgList:hover{
	border-radius: 0 50px 0 50px;
	transition: border-radius .33s, opacity .33s;
}


.caseList {
	width: 191px;
    height: 161px ;

}



.titreList {
    font-family: "Playball", cursive;
    font-size: 25px;
    padding: 0 0 30px 20px;
}

.paragrafList {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 0 20px 0 10px;
    text-align: center;
    line-height: 15px;
}



#recettEntre {
    width: 100%;
    height: 457px;
    background:  url(../img/entrée.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

/* page Recettes plats */

#recettePlat {
	background: url(../img/Plat.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page recettes dessert */

#recetteDessert {
	background-image: url(../img/Dessert.webp);
	background-repeat: no-repeat;
	background-size: cover;	
}

/*page salade*/

#recetteSalade {
	background-image: url(../img/saladeverte.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

.imgSalade {
	width: 50px;
	height: 50px;
}

.paragrafRecette {
	text-align: center;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: 16px;
	line-height: 21px;
	margin: 60px 0 0 20px;
}

/* page quiche */

#recetteQuiche {
	background-image: url(../img/part-de-quiche.webp);
	background-repeat: no-repeat;
	background-size: cover;	
}

/* page avocat */

#recetteAvocat {
	background-image: url(../img/avocat-crevettes.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page escargots */

#recettEscargot {
	background-image: url(../img/escargot-beurre_11zon.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page tomate provençale */

#recetteTomate {
	background-image: url(../img/tomatesProvence.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page saint jacques */

#recetteSaint {
	background-image: url(../img/saintJacques.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page langouste */

#recetteLangouste {
	background-image: url(../img/langoustesGrillées.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page poulet frites */

#recettePoulet {
	background-image: url(../img/poulet-avec-frites.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page spaghetti bolognaise */

#recetteSpaghet {
	background-image: url(../img/spaghett.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page raclette */

#recetteRaclette {
	background-image: url(../img/raclette-charcut.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page gratin de fruit de mer */

#recetteGratin {
	background-image: url(../img/gratin-mer.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page poulet à l'Arlette */

#recetteArlette {
	background-image: url(../img/pouletArlette.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page rapé */

#recetteRapé {
	background-image: url(../img/rapée.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page chili */

#recetteChili {
	background-image: url(../img/chili.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page flan */

#recetteFlan {
	background-image: url(../img/flan.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page pain perdu */

#recettePain {
	background-image: url(../img/pain-perdu.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page fondant au chocolat */

#recetteFondant {
	background-image: url(../img/fondant.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page iles flottantes */

#recetteIle {
	background-image: url(../img/iles.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page poire */

#recettePoire {
	background-image: url(../img/poire-bel-helene.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* mousse chocolat */

#recetteMousse {
	background-image: url(../img/mousse-au-chocolat.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page tiramisu */

#recetteTiramisu {
	background-image: url(../img/tiramisu.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

/* page contact */

form {
	text-align: center;
	color: #fff;
	font-family: "Plus Jakarta Sans", sans-serif;
	padding-top: 100px;
	background: url(../img/cuisine.webp);
}


input {
	
	font-size: 20px;
	margin: 0  0 30px 0;
}

textarea {
	font-size: 20px;
	margin: 0  0 200px 0;
}






@media screen and (min-width: 803px) {
	
	
	.list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-left: 50px;
		gap: 10px;
	}
	#menu figure {
		width: 350px;
		height: 460px;
	}
}

@media screen and (min-width: 1257px) {
	
	body {
		max-width: 1920px;
	}
	.list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-left: 20px;
		margin-top: 100px;
	}

	.imageMenu:hover {
		border-radius: 0 70px 0 70px;
		transition: border-radius .33s, opacity .33s;
		transform: scale(1.1);
		transition: all 0.5s ease-in-out;
	}
	

	.listMenu {
		
		height: 500px;
	}

	.imgList {
		width: 250px;
		height: 250px;	
	}

	#indexPlank {
		display: flex;
	}

	#menu figure {
		width: 450px;
		height: 500px;
		margin: 100px 0 100px 0;
	}

	#intro {
		width: 70%;
		margin-left: 250px;
	}

	#textIntro {
		margin: 100px 0 100px 0;
	}

	.recetteStart{
		
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	

	
}

@media screen and (min-width: 501px){

	nav figure {
		display: none;
	}
	#openBtn {
		display: none;
	}
}



/* faire disparaitre le navdown */

@media screen and (max-width: 500px) {
	.navDown {
		display: none;
	}

	
}







